.gameTitle { 
    padding-bottom: 90px;
    margin-bottom: 100px;
    background-color: rgba(0,0,0,.15);
    z-index: 1000;
}

#status{
    font-family: sans-serif;
}
 
#gameTitle {
    font-size: 70px;
    text-align: center;
    color: black;
    font-family: sans-serif;
}

body {
    background-color: white;
    color: black;
    padding:5%;
}

footer {
    background-repeat: repeat;
}

#player1Name {
    font-size: 26px;
}

#player2Name {
    font-size: 26px;
}

.diceContainer{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.score {
	float: left;
	width: 35px;
    color: black;
	padding: 10px;
	font-size: 24px;
    text-align: right;
}

.dieImage {
    margin-right: 0;
}

.menu {
    background-color: rgba(0,0,0,0.3);
}

/* .rollButton{
    display: flex;
    justify-content: center;
} */

.btn {
    text-align: center;
    color: white;
    font-size: 40px !important;
    background-color: black !important;
    padding: 5px 25px;
    cursor: pointer;
}

.noSelect{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

/* .btn:hover {
    color: white !important;
    background-color: rgb(185, 53, 130) !important;
} */

.newGameBtn {
    position: fixed;
    top: 40px;
    right: 30px;
    text-align: center;
    color: white;
    background-color: rgb(200,50,80) !important;
    border-radius: 30pt;
    border-style: none;
    box-shadow: 1px 2px 10px #000000;
    padding: 6pt;
    z-index: 1000;
}

.newGameBtn:hover {
    background-color: rgb(100,10,50) !important;
}

.playerScore {
    color: black;
}

#status {
    text-align: center;
    color: black;
}

.rules {
    text-align: left;
    color: black;
    margin-bottom: 150px;
}
